	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 3000px;
		max-width: 1924px;
	}

	#u141
	{
		margin-top: 54px;
		width: 5.2%;
		left: 53.85%;
	}

	#u145
	{
		margin-top: 54px;
		width: 7.39%;
		left: 62.38%;
	}

	#u149
	{
		margin-top: 54px;
		width: 5.93%;
		left: 72.46%;
	}

	#u153
	{
		margin-top: 54px;
		width: 8.63%;
		left: 80.77%;
	}

	#u490
	{
		height: 50px;
		margin-top: 3599px;
		width: 39.25%;
		left: 58.79%;
	}

	#u496
	{
		margin-top: 3608px;
		width: 9.67%;
		left: 19.6%;
	}

	#u502
	{
		margin-top: 3613px;
		width: 11.6%;
		left: 1.67%;
	}


